@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Opera and Edge globally */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar globally for IE, Edge and Firefox */
html, body, * {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}